<div class="row mt-3">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="card">
      <div class="card-body">
        <h3>Password reset</h3>

        <p>Forgot your password? Don't worry, it happens to everyone! Just enter your login email to reset our password.</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email"
              placeholder="example@mail.com" formControlName="email"
              [ngClass]="{'is-invalid':email.touched && email.invalid,'is-valid':email.valid}"/>
            <div class="invalid-feedback d-block" *ngIf="email.touched && email.hasError('required')">
              Input is required
            </div>
            <div class="invalid-feedback d-block" *ngIf="email.touched && email.hasError('email')">
              Email entered is invalid
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]="form.invalid">
              Reset your password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
