<div class="row mt-3">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="card">
      <div class="card-body">
         <h3>Inicio de Sesión</h3>

         <form [formGroup]="form" (ngSubmit)="onLogin()">
           <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" class="form-control"
              placeholder="ejemplo@mail.com" formControlName="email"
               [ngClass]="{'is-invalid':email.touched && email.invalid,'is-valid':email.valid}"/>
              <div class="invalid-feedback d-block" *ngIf="email.touched && email.hasError('required')">
                Este campo es obligatorio
              </div>
           </div>
           <div class="form-group">
            <label for="email">Contraseña:</label>
            <input type="password" name="password" id="password"
              class="form-control" formControlName="password"
               [ngClass]="{'is-invalid':password.touched && password.hasError('required'),'is-valid':password.valid}"/>
              <div class="invalid-feedback d-block" *ngIf="password.touched && password.hasError('required')">
                Este campo es obligatorio
              </div>
           </div>
           <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">
              Iniciar sesión
            </button>
           </div>
         </form>

         <hr />

         <div class="row">
           <div class="col-md-6">
            <a href="#" class="btn btn-info btn-sm btn-block mb-1" [routerLink]="['/register']">
              Registro
            </a>
           </div>
           <div class="col-md-6">
            <a href="#" class="btn btn-secondary btn-sm btn-block mb-1" [routerLink]="['/password-reset']">
              ¿Olvidaste la contraseña?
            </a>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
